
body {
  font-family: 'Montserrat', sans-serif;
}

/* Auth forms */

.auth-form-container {
  border: none;
  border-radius: 10px;
  padding: 40px;
  margin: 5% auto;
  width: 47%;
  box-shadow: rgba(74, 112, 112, 0.15) 0px 48px 100px 0px;
}

.form-heading {
  font-weight: 600;
  color: #007F7F;
  margin-bottom: 6%;
}

.label {
  font-weight: 500;
  color: #333;
}

.input {
  font-size: 1rem;
  padding: 14px 16px;
}

.pass-container {
  cursor: pointer;
}

.input:focus, .pass-input:focus {
  box-shadow: none;
  border: 3px solid hsl(180, 44%, 67%);
  ;
}

.auth-btn {
  background-color: #007F7F;
  border: none;
  border-radius: 8px;
  padding: 14px 0;
  margin: 6% 0 0 0;
  color: #fff;
  font-weight: 500;
}

.auth-btn:hover {
  background-color: #008f8f;
}

.error {
  color: #cc0000;
}

.helper-text {
  margin-top: 5%;
  text-align: center;
  color: #006666;
}

.helper-link {
  text-decoration: none;
  font-weight: 500;
  color: hsl(180, 100%, 30%);
}

/* Main Navigation bar */

.nav-bar{
  padding: 20px 25px;
  background: #fff;
  box-shadow: rgba(45, 31, 122, 0.15) 0px 2px 40px 0px;
}

/* Email verification */

.email-div {
  border: none;
  text-align: center;
  border-radius: 10px;
  padding: 40px 40px 60px;
  margin: 5% auto 0;
  width: 50%;
  box-shadow: rgba(45, 31, 122, 0.15) 0px 48px 100px 0px;
}

.email-pic {
  width: 40%;
}

.email-subheader {
  font-size: 1rem;
  margin: 2% auto 0;
  width: 65%;
  line-height: 1.6;
  color: #3e506f;
}

.email-stress {
  font-weight: 600;
}

/* Dashboard */

.main {
  width: 70%;
  margin: 0 auto;
}

.info-cards-grid {
  margin-top: 8%;
  margin-bottom: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 40px;
}

.info-card {
  padding: 5% 8%;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 10px;
}

.user-details {
  display: inline-flex;
  align-items: center;
  gap: 50px;
}

.profile-photo {
  height: 6em;
  width: 6em;
  object-fit: cover;
  border-radius: 50%;
}

.username {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.nickname {
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 500;
  color: #5da9a9;
}

.book-btn {
  background-color: #007F7F;
  border: none;
  border-radius: 8px;
  padding: 12px 40px;
  margin: 6% 0 0 0;
  color: #fff;
  font-weight: 500;
}

.book-btn:hover {
  background-color: #008f8f;
}

/* About me section */

.about-header {
  margin-top: 12%;
}

/* Featured section */

.featured-header {

}

/* Edit modal */

.save-btn {
  background-color: #007F7F;
  border: none;
  border-radius: 8px;
  padding: 12px 40px;
  margin: 0 4% 6% 4%;
  color: #fff;
  font-weight: 500;
}